.icone
{
    width: 50%;
    height: auto;
    padding-bottom: 7%;
    padding-top: 7%;
}

#navigation
{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo
{
    height: 90%;
    width: auto;
    padding: 5px;
}

#recherche
{
    width: 100%;
    height: 10%;
    border-top: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-icone
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeau
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCCCCC;
    width: 5%;
    border: solid black 1px;
}

.header
{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: black;
}

.page
{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
}

.section
{
    height: 85%;
    width: 100%;
}

body
{
    display: flex;
    margin: 0;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-top: solid black 1px;
}