* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--commun--*/
.flex {
    display: flex;
}

.colonne {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/*--balises--*/
header {
    background-color: black;
    height: 15%;
}

    header > img {
        margin: 15px 20px;
        height: 80%;
    }

footer {
    height: 5%;
    justify-content: center;
    text-align: center;
    border: black solid 1px;
}

p {
    margin: auto;
}

/*--Classes--*/
.page {
    width: 100%;
    height: inherit;
}




.central {
    height: 90%;
    border: black solid 1px;
}

.pied-page {
    height: 100%;
    margin: auto;
}

.bandeau {
    height: inherit;
    background-color: #cccccc;
}

    .droite, .gauche {
        position: relative;
    }

    .menuCategories, .iconesCategories {
        position: absolute;
        top: 20%;
        height: 60%;
        width: 90%;
        justify-content: space-between;
    }

    .gauche{
        margin-left: 5%;
        width: 95%;
        background-color: #cccccc;
        height: 100%;
        display: none;
    }

        .sociale > img {
            margin: 8px;
            height: 40px;
            justify-content: space-between;
        }

        .logo_bandeau {
            height: 10%;
        }

        .menu {
            border: solid 1px black;
            font-size: 1rem;
        }

        .menu > option {
            flex: 1;
        }

    .burger {
        height: 6%;
        margin: 2.5px 5px;
        cursor: pointer;
    }


.menuOuvert ~ .corp{
    width: 85%;
}

.menuOuvert {
    width: 20%;
}

.menuOuvert > .gauche {
    display: block;
}

.logoHeaderBlock {
    display: none;
}

.corp {
    width: 100%;
    height: inherit;
}
